= form_tag("/find_flights", method: "get") do
  .center
    %h1 Your adventure awaits...
      .col-md-6.col-md-offset-3
    .row
        %p What's your budget?
        %p= text_field_tag 'user[budget]'
        %p Where are you flying from?
        %p= text_field_tag 'user[city]'
        %p What's your departure date?
        %p
          %input{"data-provide" => "datepicker", :name => "user[departure]", :type => "text"}/
        %p What's your return date?
        %p
          %input{"data-provide" => "datepicker", :name => "user[return]", :type => "text"}/
        = submit_tag("Find Flights")
        #error-message
          %p= flash[:notice]
