<div class= "container-fluid">
  <%= form_tag({controller:"itineraries", action: "create"}, method: "post") do %>
    <div class="row">
      <% @parsed_quotes.each_with_index do |flight_package, index| %>
          <div class="col-md-6">
            <div class="whitebox">
              <h1> <%= "Package #{index+1}" %>  </h1>
                <div class= "p2">
                Destination: <%= flight_package["OutboundLeg"]["DestinationCity"] %> <br>
                Departure Date: <%= flight_package["OutboundLeg"]["DepartureDate"]%> <br>
                Departure Flight Carrier: <%= flight_package["OutboundLeg"]["Carriers"][0] %> <br>
                Return Date: <%= flight_package["InboundLeg"]["DepartureDate"] %><br>
                Return Flight Carrier: <%= flight_package["InboundLeg"]["Carriers"][0] %><br>
                Price : <%=  flight_package["MinPrice"]%>
                </div>
               <input id="quote_id" name="quote_id" value= <%= "#{flight_package["QuoteId"]}" %> type="hidden" />
              <%= submit_tag ("Save flight")%>
              </div>
          </div>
      <%end%>
    </div>
    <br>
    <br> 
  <% end %>
  </div>


