<h1> <%= @user.name %>'s WanderList Trips </h1>
<h3> Saved Trips <h3>
<ul>
<% @user.itineraries.each_with_index do |package, index| %>
  <li><h2><%= "#{index+1}. From: #{package.departure_city} To: #{package.arrival_city}" %></h2>
    <h2>Price: $<%= "#{package.total_price}" %></h2>
    <h2>Dates: <%= package.departure_date %> To <%= package.return_date %><h2><br>
  </li>
<% end %>
 </ul>