!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlatironProject1
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse{:style => "background-color: black; "}
      .container
        = link_to "WanderList", '/', id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/"} Home
            - if logged_in?
              %li= link_to "My Flights", "/users/#{@current_user.id}/flights"
              %li= link_to "Log out", logout_path, method: "delete"
              %li
                %a{:href => "/new_trip"} Book A Trip
              %p
                %i= "#{@current_user.name} is logged into WanderList"
            - else
              %li
                %a{:href => "/users/new"} Sign Up
              %li
                %a{:href => "/login"} Sign In
    .container
      = yield
